[user]
	name = Greg Strange
	email = greg@synapse.com
[core]
	excludesfile = /Users/greg/.gitignore_global
	editor = vim
	pager = less -iXF
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[color]
	ui = auto
[url "git@gitlab.synapse.com:"]
	insteadOf = https://gitlab.synapse.com/
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
